:root {
  --first-color: #E3FDFD;
}

body {
  font-family: "Open Sans", sans-serif;
}

nav {
  background-color: var(--first-color);
}

section {
  padding-top: 5rem;
}

.my-logo {
  width: 80px;
}

.hero {
  padding-top: 6rem;
  background-color: var(--first-color);
}

.hero img {
  width: 220px;
}

#projects {
  background-color: var(--first-color);
}

.gallery-img {
  width: 100%;
}

div.zero-padding>* {
  padding: 0;
}

footer {
  background-color: var(--first-color);
}

section h2 {
  position: relative;
  padding-bottom: 15px;
}

section h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background: linear-gradient(to right, #53629E, #87BAC3);
  border-radius: 2px;
}